@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --primary: 238.7 83.5% 66.7%;
  --primary-foreground: 0 0% 100%;

  --secondary: 215.4 16.3% 96.9%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 215.4 16.3% 96.9%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 239.2 87.8% 67.8%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 238.7 83.5% 66.7%;

  --radius: 0rem;
}

body {
  @apply bg-background text-foreground;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  h3 {
    @apply text-2xl sm:text-3xl;
  }
  
  *:focus-visible {
    @apply outline-none ring-2 ring-indigo-600 ring-offset-2;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

